<% 
require 'rubygems'
require 'curb' 
require 'json'

json = JSON.parse(Curl.post("http://staging.rately.com/api/products/search", '{"payload":{"colors":["669900"],"keywords":[]}}').body)
%>



<!DOCTYPE html>

<html>
  <head>
    
    <link rel="stylesheet" type="text/css" href="/style/styles.css" />
  </head>
  <body>
    <div style="position:absolute; right:25%; top:60px;">
      <h1 style=" font-size:500%; color:#669900;">
        Andrew's Color Search
      </h1>
			<link href="http://cdn3.dribbble.com/assets/master-85c504d067100c3c7d332390b6c354dd.css" media="screen, projection" rel="stylesheet" type="text/css">
			<div class="colors-explore"  >
 				<ul class="color-chips group" >
      				<li class="color">
        				<a href="/colors/660000.html" style="background-color: #660000" title="#660000" >#660000</a>
      				</li>
      				<li class="color">
        				<a href="/colors/990000.html" style="background-color: #990000" title="#990000">#990000</a>
      				</li>
      				<li class="color">
        				<a href="/colors/cc0000.html" style="background-color: #cc0000" title="#cc0000">#cc0000</a>
      				</li>
      				<li class="color">
       				  <a href="/colors/cc3333.html" style="background-color: #cc3333" title="#cc3333">#cc3333</a>
    				</li>
   				    <li class="color">
        				<a href="/colors/ea4c88.html" style="background-color: #ea4c88" title="#ea4c88">#ea4c88</a>
      				</li>
      				<li class="color">
        				<a href="/colors/993399.html" style="background-color: #993399" title="#993399">#993399</a>
      				</li>
      				<li class="color">
        				<a href="/colors/663399.html" style="background-color: #663399" title="#663399">#663399</a>
      				</li>
      				<li class="color">
        				<a href="/colors/333399.html" style="background-color: #333399" title="#333399">#333399</a>
      				</li>
      				<li class="color">
        				<a href="/colors/0066cc.html" style="background-color: #0066cc" title="#0066cc">#0066cc</a>
      				</li>
      				<li class="color">
        				<a href="/colors/0099cc.html" style="background-color: #0099cc" title="#0099cc">#0099cc</a>
      				</li>
      				<li class="color">
        				<a href="/colors/66cccc.html" style="background-color: #66cccc" title="#66cccc">#66cccc</a>
      				</li>
      				<li class="color">
        				<a href="/colors/77cc33.html" style="background-color: #77cc33" title="#77cc33">#77cc33</a>
      				</li>
      				<li class="color current">
        				<a href="/colors/669900.html" style="background-color: #669900" title="#669900">#669900</a>
      				</li>
      				<li class="color">
        				<a href="/colors/336600.html" style="background-color: #336600" title="#336600">#336600</a>
      				</li>
      				<li class="color">
       					<a href="/colors/666600.html" style="background-color: #666600" title="#666600">#666600</a>
      				</li>
      				<li class="color">
        				<a href="/colors/999900.html" style="background-color: #999900" title="#999900">#999900</a>
      				</li>
      				<li class="color">
        				<a href="/colors/cccc33.html" style="background-color: #cccc33" title="#cccc33">#cccc33</a>
      				</li>
      				<li class="color">
        				<a href="/colors/ffff00.html" style="background-color: #ffff00" title="#ffff00">#ffff00</a>
      				</li>
      				<li class="color">
        				<a href="/colors/ffcc33.html" style="background-color: #ffcc33" title="#ffcc33">#ffcc33</a>
      				</li>
      				<li class="color">
        				<a href="/colors/ff9900.html" style="background-color: #ff9900" title="#ff9900">#ff9900</a>
      				</li>
      				<li class="color">
        				<a href="/colors/ff6600.html" style="background-color: #ff6600" title="#ff6600">#ff6600</a>
      				</li>
      				<li class="color">
        				<a href="/colors/cc6633.html" style="background-color: #cc6633" title="#cc6633">#cc6633</a>
      				</li>
      				<li class="color">
        				<a href="/colors/996633.html" style="background-color: #996633" title="#996633">#996633</a>
      				</li>
      				<li class="color">
        				<a href="/colors/663300.html" style="background-color: #663300" title="#663300">#663300</a>
      				</li>
      				<li class="color">
        				<a href="/colors/000000.html" style="background-color: #000000" title="#000000">#000000</a>
      				</li>
      				<li class="color">
        				<a href="/colors/999999.html" style="background-color: #999999" title="#999999">#999999</a>
      				</li>
      				<li class="color">
        				<a href="/colors/cccccc.html" style="background-color: #cccccc" title="#cccccc">#cccccc</a>
      				</li>
      				<li class="color">
        				<a href="/colors/ffffff.html" style="background-color: #ffffff" title="#ffffff">#ffffff</a>
      				</li>
				 </ul>
      </div>
  <div class="slider">
  <%i=1%>
  <%json['products'].each do |products|%>
  
  <input type="radio" name="slide_switch" id="'id'+ <%=i%>" checked="checked"/>
  <label for="'id'+ <%=i%>">
    <img src="<%=products['image_url']%>" height="100" width="100"/>
  </label>
  <img src="<%=products['image_url']%>" height="100%" width="100%"/>
  <%i=i+1%>
  <%end%>
  
</div>
</div>
  </body>
</html>